name: version

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  version:
    name: Version

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Setup node
        uses: actions/setup-node@v3

      - name: Version
        run: |
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]
          npm version prerelease --preid "p$(date -u +%Y%m%d)"
          git push --follow-tags
