name: version

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  version:
    name: Version

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Version
        run: |-
          eval "$(ssh-agent -s)"
          echo "$DEPLOY_KEY" | ssh-add -
          unset DEPLOY_KEY
          git config user.name "GitHub Actions"
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          npm version prerelease --preid "p$(date -u +%Y%m%d)"
          git push --follow-tags git@github.com:${{ github.repository }}.git
          eval "$(ssh-agent -k)"
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
